<div class="dashboard">
    
    <h1 class="dashboard-title">Dashboard</h1>
  
    <!-- Summary Section -->
    <div class="summary-section">
      <h2 class="section-title">Summary</h2>
  
      <div class="stat">
        <div class="value">{{ totalTasks }}</div>
        <h4 class="stat-title">Total Tasks</h4>
      </div>
      <div class="stat">
        <div class="value">{{ tasksCompletedPercentage }}%</div>
        <h4 class="stat-title">Tasks Completed</h4>
      </div>
      <div class="stat">
        <div class="value">{{ tasksPendingPercentage }}%</div>
        <h4 class="stat-title">Tasks Pending</h4>
      </div>
      <div class="stat">
        <div class="value">{{ avgTimePerTask }} hrs</div>
        <h4 class="stat-title">Average Time per Completed Task</h4>
      </div>
    </div>
  
    <!-- Pending Tasks Summary Section -->
    <div class="pending-summary-section">
      <h2 class="section-title">Pending Tasks Summary</h2>
  
      <div class="stat">
        <div class="value">{{ pendingTasks }}</div>
        <h4 class="stat-title">Pending Tasks</h4>
      </div>
      <div class="stat">
        <div class="value">{{ totalTimeLapsed }} hrs</div>
        <h4 class="stat-title">Total Time Lapsed</h4>
      </div>
      <div class="stat">
        <div class="value">{{ totalTimeToFinish }} hrs</div>
        <h4 class="stat-title">Total Time to Finish Estimated Based on End Time</h4>
      </div>
    </div>
  </div>
  