<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="modal-header text-center">Create New Todo</h3>
    </div>
    <div class="col-12">
      <p class="d-flex flex-column flex-grow-1 py-4">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput name="title" [(ngModel)]="title" [value]="title">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput name="description" [(ngModel)]="description" [value]="description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Start Time</mat-label>
          <input matInput [matDatepicker]="startTimePicker" [(ngModel)]="startTime" [value]="startTime" readonly>
          <mat-datepicker #startTimePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Time</mat-label>
          <input matInput [matDatepicker]="endTimePicker" [(ngModel)]="endTime" [value]="endTime" readonly>
          <mat-datepicker #endTimePicker></mat-datepicker>
        </mat-form-field>
      </p>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button mat-flat-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="create()">Create</button>
    </div>
  </div>
</div>